#
*.bak
*.exe
*.idb
*.ilk
*.lib
*.ini
*.log
*.mx
*.obj
*.opendb
*.pdb
*.tlog
*.user
*.VC.db
*.suo
*.sdf
*.tmp
*.user
**/xcuserdata
**/xcshareddata
/compiler/.vs/
/compiler/Win32/Debug/
/compiler/Win32/Release/
/compiler/parser.h
/compiler/parser.c
/compiler/lexer.c
/library/.vs/
/library/Win32/Debug/
/library/Win32/Release/
/sample/mana_node.json
