/compiler/mana.VC.VC.opendb
/compiler/mana.VC.VC.opendb
/compiler/mana.VC.db
/compiler/.vs/
/compiler/Debug
/compiler/Release
/library/libmana.VC.VC.opendb
/library/libmana.VC.db
/library/.vs/
/library/Debug/
/library/Release
/test/manarunner.VC.VC.opendb
/test/manarunner.VC.db
/test/.vs/
/test/Debug/
/test/Release
