# User-specific files
*.suo
*.user
**/xcuserdata
**/xcshareddata

# Build results
x64/
x86/
[Ww]in32/
[Dd]ebug/
[Rr]elease/

*.bak
*.exe
*.idb
*.ilk
*.lib
*.ini
*.log
*.obj
*.opendb
*.pdb
*.tlog
*.VC.db
*.sdf

# Visual Studio 2015 cache/options directory
.vs/

# Others
.DS_Store
*.tmp
*.swp

# Mana
*.mx
/sample/node_entry.json
